body {
  background-color: #FFFFFF;
}

hr {
  border-style: dotted none none;
  border-color: #ECD5BB  ;
  height: 0;
  width: 5%;
  border-width: 5px 0px;
}

h1 {
  color: #6E2F15;
}

h3 {
  color: #1C4508;
}
